{% extends '_base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-2/6 md:w-1/2 bg-indigo-50 rounded-lg p-8 flex flex-col md:m-auto w-full mt-10 md:mt-0">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Login</h2>
            <form class='mb-4' method="post">
                {% csrf_token %}
                <div class="relative mb-4">
                    <label for="{{ form.username.id_for_label }}" class="leading-7 text-sm text-gray-600">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="relative mb-4">
                    <label for="{{ form.password.id_for_label }}" class="leading-7 text-sm text-gray-600">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <button type="submit" class='text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg'>Login</button>
            </form>
            {% if form.errors %}
            <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
                <strong class="block font-medium text-red-800"> Something went wrong </strong>
              
                <p class="mt-2 text-sm text-red-700">
                  <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </p>
              </div>
            {% endif %}
            <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="/register" class="text-indigo-500">Register</a></p>
        </div>
    </div>
</section>
{% endblock %}