{% extends "_base.html" %}

{% block content %}
    <h1 class='my-5 text-3xl text-indigo-500' title='Read more...'>Notes</h1>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8'>
        {% for note in notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-4 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                {% comment %} <div class='flex justify-end my-0 py-0'>
                    <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl text-indigo-900 text-decoration-none'><ion-icon name="eye"></ion-icon></a>
                </div> {% endcomment %}
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl font-medium text-gray-600 text-decoration-none mt-0'><h3>{{note.title}}</h3></a>
                {{ note.text|truncatechars:20}}
                <!-- -->
                
                <!---->
                
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class='my-5 text-3xl text-indigo-500'>Shared Notes</h2>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8'>
        {% for note in shared_notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-4 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                {% comment %} <div class='flex justify-end'>
                    <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl text-indigo-900 text-decoration-none'><ion-icon title='Read more...' name="eye"></ion-icon></a>
                </div> {% endcomment %}
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl font-medium text-gray-600 text-decoration-none'><h3>{{note.title}}</h3></a>
                {{ note.text|truncatechars:20}}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if messages %}
    {% for message in messages %}
    <div id="dismiss-alert" class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 bg-teal-50 border border-teal-200 text-sm text-teal-800 rounded-lg p-4 dark:bg-teal-800/10 dark:border-teal-900 dark:text-teal-500" role="alert">
        <div class="flex">
            <div class="flex-shrink-0">
                <svg class="flex-shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                  </svg>
            </div>
            <div class="ms-2">
                <div class="text-sm font-medium">
                    {{ message }}
                </div>
            </div>
            <div class="ps-3 ms-auto">
                <div class="-mx-1.5 -my-1.5">
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                      </svg>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}