{% extends "_base.html" %}

{% block content %}
    <div class="mx-20 max-w-full">
        <h3 class='my-5 text-3xl text-indigo-500' title='Read more...'>Notes</h3>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8'>
        {% for note in notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-4 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                {% comment %} <div class='flex justify-end my-0 py-0'>
                    <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl text-indigo-900 text-decoration-none'><ion-icon name="eye"></ion-icon></a>
                </div> {% endcomment %}
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-lg font-medium text-gray-800 text-decoration-none mt-0'><h3>{{note.title}}</h3></a>
                {{ note.text.html|safe}}
                <!-- -->
                
                <!---->
                
            </div>
        </div>
        {% endfor %}
    </div>
    <h3 class='my-5 text-3xl text-indigo-500'>Shared Notes</h3>
    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-min'>
        {% for note in shared_notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-1 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class=' text-lg font-medium text-gray-800 text-decoration-none'><h3>{{note.title}}</h3></a>
                {{ note.text.html|safe}}
                <p class="text-xs text-gray-500">Access Level: {{ note.access_level }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    
{% endblock %}
