{% extends '_base.html' %}

{% block content %}
  <div class="mx-auto max-w-xl">
    <h2 class='my-5 text-3xl text-red-500'>Delete Note?</h2>
    <form method="post">
        {% csrf_token %}
        <div class="bg-red-50 border border-red-200 text-sm text-red-800 rounded-lg p-4 dark:bg-red-800/10 dark:border-red-900 dark:text-red-500" role="alert">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="flex-shrink-0 size-4 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M12 16v-4"></path>
                  <path d="M12 8h.01"></path>
                </svg>
              </div>
              <div class="ms-3">
                <h3 class="font-semibold">
                    <p>Are you sure you want to delete "{{ note.title }}"?</p>
                </h3>
                </h3>
                <div class="mt-2 text-sm text-gray-700 dark:text-neutral-400">
                    <p>This action cannot be undone.</p>
                </div>
                <div class="mt-4">
                  <div class="flex space-x-3">
                    <button type="submit" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none dark:text-red-500 dark:hover:text-red-400">
                      Delete
                    </button>
                    <a href="{% url 'notes.list' %}" type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400">
                      Cancel
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
    
{% endblock %}