{% extends "_base.html" %}

{% block content %}
    <h1 class='my-5 text-3xl text-indigo-500' title='Read more...'>Notes</h1>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8'>
        {% for note in notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-4 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                {% comment %} <div class='flex justify-end my-0 py-0'>
                    <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl text-indigo-900 text-decoration-none'><ion-icon name="eye"></ion-icon></a>
                </div> {% endcomment %}
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl font-medium text-gray-600 text-decoration-none mt-0'><h3>{{note.title}}</h3></a>
                {{ note.text|truncatechars:20}}
                <!-- -->
                
                <!---->
                
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class='my-5 text-3xl text-indigo-500'>Shared Notes</h2>
    <div class='grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8'>
        {% for note in shared_notes %}
        <div class='flex flex-col gap-2 rounded-lg border border-indigo-700 bg-indigo-50 p-4 items-start'>
            <div class='block text-sm font-medium text-gray-900'>
                {% comment %} <div class='flex justify-end'>
                    <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl text-indigo-900 text-decoration-none'><ion-icon title='Read more...' name="eye"></ion-icon></a>
                </div> {% endcomment %}
                <a href="{% url 'notes.detail' pk=note.id %}" title='Read more...' class='text-2xl font-medium text-gray-600 text-decoration-none'><h3>{{note.title}}</h3></a>
                {{ note.text|truncatechars:20}}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}