{% extends '_base.html' %}


{% block content %}
<div class="card text-center">
    <div class="card-header">
        <span class="badge text-bg-success">
            Created by : {{ note.user }}
        </span>
      </div>
    <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <p class="card-text">{{ note.text }}</p>
      <a href="{% url 'notes.list' %}" class='btn btn-secondary my-5'>Back</a>
    <a href="{% url 'notes.update' pk=note.id %}" class='btn btn-secondary my-5'>Edit</a>
    <a href="{% url 'notes.delete' pk=note.id %}" class='btn btn-danger my-5'>Delete</a>
    </div>
    <div class="card-footer text-body-secondary">
        On {{ note.created_at }}
    </div>
  </div>
{% endblock %}


