<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartNotes</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-slate-50">

    <!-- Add this -->
    <header>
        {% if user.is_authenticated %}
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                <div class="text-center sm:text-left">
                    
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Welcome Back, {{ user.username }}!</h1>
            
                    <p class="mt-1.5 text-sm text-gray-500">Let's write a new note! 🎉</p>
                </div>
            
                <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
                    <a href="{% url 'notes.new' %}"
                    class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
                    type="button"
                    >
                    Create New Note
                </a>
                    <a href="{% url 'logout' %}"
                    class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
                    type="button"
                    >
                    <span class="text-sm font-medium"> Logout </span>
                </a>
                </div>
                </div>
            </div>
        {% else %}
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                <div class="text-center sm:text-left">
                    
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                    <a href="{% url 'home' %}" class="text-indigo-600 hover:text-indigo-700">SmartNotes</a>
                </h1>
            
                    <p class="mt-1.5 text-sm text-gray-500">Got notes? login to write 🎉</p>
                </div>
            
                <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
                    {% if not request.resolver_match.url_name == 'login' %}
                        <a href="{% url 'login' %}"
                        class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
                        type="button"
                        >
                        <span class="text-sm font-medium"> Login </span>
                        </a>
                    {% endif %}

                    {% if not request.resolver_match.url_name == 'register' %}
                    <a href="{% url 'register' %}"
                    class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
                    type="button"
                    >
                    <span class="text-sm font-medium"> Register </span>
                </a>
                    {% endif %}
                
                </div>
                </div>
            </div>
        {% endif %}
        
      </header>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
    <!-- End of new HTML -->

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>
</body>

<footer class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex justify-center items-center sm:justify-start">
            <ion-icon name="document-text-outline" class="text-5xl text-indigo-700 hover:text-indigo-200">
            </ion-icon>
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                <a href="{% url 'home' %}" class="text-indigo-600 hover:text-indigo-200">SmartNotes</a>
        </div>
  
        <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
          Copyright &copy; SmartNotes 2024. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  

</html>